@font-face {
  font-family: "Acronym Hairline";
  src: url("../font/Acronym-Hairline.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../font/PlayfairDisplay-Regular.ttf");
}

a {
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.Loader {
  font-weight: bold;
  color: #FFF;
  font-size: 200px;
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  transition: 1.3s;
}

.Loader-animation {
  opacity: 0;
}

.home {
  display: none;
}

.mobileSection {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100vw;
  height: 100vh;
}

.presentation {
  grid-column: 2 /10;
  grid-row: 2;
}

.para {
  grid-column: 2/10;
  grid-row: 3;
}

.social {
  opacity: 0.7;
  grid-column: 2/10;
  grid-row: 4;
  margin: 50px 0 00;
}

.name {
  font-family: "Acronym Hairline";
  letter-spacing: 8px;
  font-size: 30px;
}

.descrptionName {
  font-family: "PlayfairDisplay-Regular";
  letter-spacing: 4px;
  font-size: 18px;
}

.titlepara {
  font-size: 20px;
}

.aboutPara {
  font-family: "PlayfairDisplay-Regular";
  font-size: 14px;
  line-height: 30px;
  opacity: 0.7;
  margin: 25px 0 0 0;
}

.socialIcons {
  width: 20px;
  margin: 0 40px 0 0;
}

@media screen and (min-width: 768px) {
  .mobileSection {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
  }
  .presentation {
    grid-column: 2 /10;
    grid-row: 4;
  }
  .para {
    grid-column: 2/10;
    grid-row: 5;
  }
  .social {
    opacity: 0.7;
    grid-column: 2/10;
    grid-row: 6;
    margin: 50px 0 00;
  }
}

@media screen and (min-width: 1150px) {
  .mobileSection {
    display: none;
  }
  .home {
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
  }
  .mainHeader {
    grid-column: 1 /10;
    grid-row: 1;
    padding: 2em 0 0 0;
    display: block;
  }
  .footer {
    grid-column: 2 /10;
    grid-row: 10;
  }
  .headerMainWrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .Logo {
    grid-row: 1;
    grid-column: 2/10;
  }
  .logoTitle {
    font-family: "Acronym Hairline";
    letter-spacing: 7px;
    font-size: 20px;
  }
  .aboutTitle {
    font-family: "Acronym Hairline";
    font-weight: bolder;
    letter-spacing: 4px;
  }
  .about {
    grid-column: 11/11;
    grid-row: 1
  }
  .about:hover .spacerAbout {
    margin: 1px 0 0 -10px;
    width: 33px;
    height: 1px;
    background-color: black;
    transition: 0.2s
  }
  .spacerAbout {
    margin: 1px 0 0 -10px;
    width: 0;
    height: 1px;
    background-color: black;
  }
  .wrapper {
    grid-column: 2 /11;
    grid-row: 2/10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
  }
  .navContainer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .itemContainer {
    padding: 0 0 0 3em;
  }
  /*
Cover1
  */
  .img-effect {
    grid-column: 1 / 6;
    grid-row: 1/5;
  }
  .img-effect {
    background-size: cover;
    background-position: center;
  }
  .img-effect {
    position: relative;
    overflow: hidden;
    opacity: 0.8;
  }
  .img-effect:before, .img-effect:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/cover1.png);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(1px);
    filter: blur(1px) grayscale(100%);
    opacity: .6;
    -webkit-transition: all ease .7s;
    transition: all ease .7s;
  }
  .img-effect:before {
    -webkit-transform: scale(1.1) translate(1%, -1%);
    transform: scale(1.1) translate(1%, -1%);
  }
  .img-effect:after {
    -webkit-transform: scale(1.1) translate(-1%, 1%);
    transform: scale(1.1) translate(-1%, 1%);
  }
  .img-effect:hover {
    opacity: 1;
    z-index: 10;
  }
  .img-effect:hover:before, .img-effect:hover:after {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  [class$=-effect] img {
    vertical-align: top !important;
    margin: 0 !important;
    opacity: 0 !important;
  }
  .itemRLDP {
    grid-column: 1/10;
    grid-row: 1;
  }
  .spacerRLDP {
    margin: 1px 0 0 -10px;
    width: 0px;
    height: 1px;
    background-color: black;
  }
  /*
Cover2
  */
  .img-effect2 {
    grid-column: 5 / 10;
    grid-row: 3 / 9;
  }
  .img-effect2 {
    background-size: cover;
    background-position: center;
  }
  .img-effect2 {
    position: relative;
    overflow: hidden;
    opacity: 0.8;
  }
  .img-effect2:before, .img-effect2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/cover2.jpg);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(1px);
    filter: blur(1px) grayscale(100%);
    opacity: .6;
    -webkit-transition: all ease .7s;
    transition: all ease .7s;
  }
  .img-effect2:before {
    -webkit-transform: scale(1.1) translate(1%, -1%);
    transform: scale(1.1) translate(1%, -1%);
  }
  .img-effect2:after {
    -webkit-transform: scale(1.1) translate(-1%, 1%);
    transform: scale(1.1) translate(-1%, 1%);
  }
  .img-effect2:hover {
    opacity: 1;
    z-index: 10;
  }
  .img-effect2:hover:before, .img-effect2:hover:after {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  .Port {
    grid-column: 4/10;
    grid-row: 1;
  }
  .spacerPort {
    margin: 1px 0 0 -10px;
    width: 0px;
    height: 1px;
    background-color: black;
  }
  /*
Cover3
  */
  .img-effect3 {
    grid-column: 1 / 6;
    grid-row: 6 / 10;
  }
  .img-effect3 {
    background-size: cover;
    background-position: center;
  }
  .img-effect3 {
    position: relative;
    overflow: hidden;
    opacity: 0.8;
  }
  .img-effect3:before, .img-effect3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/cover3.png);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(1px);
    filter: blur(1px) grayscale(100%);
    opacity: .6;
    -webkit-transition: all ease .7s;
    transition: all ease .7s;
  }
  .img-effect3:before {
    -webkit-transform: scale(1.1) translate(1%, -1%);
    transform: scale(1.1) translate(1%, -1%);
  }
  .img-effect3:after {
    -webkit-transform: scale(1.1) translate(-1%, 1%);
    transform: scale(1.1) translate(-1%, 1%);
  }
  .img-effect3:hover {
    opacity: 1;
    z-index: 10;
  }
  .img-effect3:hover:before, .img-effect3:hover:after {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  .itemRBF {
    grid-column: 6/10;
    grid-row: 1;
  }
  .spacerRBF {
    margin: 1px 0 0 -10px;
    width: 0px;
    height: 1px;
    background-color: black;
  }
}