@font-face {
  font-family: "Acronym Hairline";
  src: url("../font/Acronym-Hairline.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../font/PlayfairDisplay-Regular.ttf");
}

a {
  text-decoration: none;
  text-decoration-color: none;
  color: black;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.Loader {
  font-family: "Lato";
  font-weight: bold;
  color: #FFF;
  font-size: 200px;
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  transition: 1.3s;
}

.Loader-animation {
  opacity: 0;
}

.home {
  display: none;
}

.mobileSection {
  padding: 20% 10% 20% 10%;
}

.name {
  font-family: "Acronym Hairline";
  letter-spacing: 10px;
  font-size: 30px;
}

.descrptionName {
  font-family: "PlayfairDisplay-Regular";
  letter-spacing: 5px;
  font-size: 18px;
}

.titlepara {
  font-size: 20px;
}

.aboutPara {
  font-family: "PlayfairDisplay-Regular";
  font-size: 14px;
  line-height: 30px;
  opacity: 0.7;
  margin: 25px 0 0 0;
}

.social {
  margin: 50px 0 0 0;
  opacity: 0.7;
}

.socialIcons {
  width: 20px;
  margin: 0 40px 0 0;
}

@media screen and (min-width: 800px) {
  .mobileSection {
    display: none;
  }
  .home {
    display: block;
  }
  .headerMainWrapper {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    padding: 28px 43px;
    width: 100%;
  }
  .Logo {
    flex-basis: 100%;
  }
  .logoTitle {
    font-family: "Acronym Hairline";
    letter-spacing: 10px;
    font-size: 30px;
  }
  .aboutTitle {
    font-family: "Acronym Hairline";
    font-weight: bolder;
    letter-spacing: 6px;
  }
  * {
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper>div {
    border: 2px solid rgb(233, 171, 88);
    border-radius: 5px;
    background-color: rgba(233, 171, 88, .5);
    padding: 1em;
    color: #d9480f;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
  }
}

}